#calendar {
	margin: 10% auto;
	width: 800px;
	padding: 1% 2% 2%;
}
.calendar-header {
	margin-bottom: 1%;
}

#calendar Table {
	margin-bottom: 0;
}
.calendar-button {
	font-family: 'Roboto', sans-serif;
	color: #75b9ce;
	position: relative;
	display: inline-block;
	padding: 0 .6em;
	height: 1.9em;
	line-height: 1.9em;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid #75b9ce;
}
.button-prev {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-right: -1px;

}
.button-next {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-right: 0;
}
.text-arrow {
	margin: 0 .4em;
	font-size: 2em;
	line-height: 23px;
	vertical-align: baseline;
	font-weight: bold;
}
.days {
	font-family: 'Roboto', sans-serif;
	height: 50vh;
	background: #75b9ce !important;
	color: #FFF;
	font-size: 16px !important;
	font-weight: 500 !important;
	text-align: center;
}
.days-col {
	padding-right: 0 !important;
    padding-left: 0 !important;
}
.days-col .day {
	padding: 8%;
}

.day {
	border-bottom: 1px solid gray;
}
.day-dropdown {
	background: #75b9ce !important;
	border: none !important;
    line-height: 1.2em !important;
}
.holiday {
	line-height: 1.7em;
	margin: 6%;
	padding: 1%;
}


Table td {
	color: gray;
}
.months {
	color: #75b9ce;
	font-weight: 500;
}